/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

pre .code-copy {
  margin-top: -0.85rem;
}

figure {
    display:flex;
    flex-direction: column;
    align-items:center;
}

figcaption{
    color:rgba(0,0,0,0.5);
}

li:last-child {
  opacity:0;
}

li:hover{
  opacity:1;
}